src/main/resources/wsdl/hcs-organizations-registry-common-types-8.6.0.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.6.0.4/organizations-registry-common/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.6.0.4/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.6.0.4/organizations-registry-common/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.6.0.4/" schemaLocation="hcs-basetypes-8.6.0.4.xsd"/>
	<!--Экспорт из реестра организаций-->
	<xs:element name="exportOrgRegistryRequest">
		<xs:annotation>
			<xs:documentation>Экспорт сведений из реестра организаций</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="SearchCriteria" maxOccurs="100">
							<xs:annotation>
								<xs:documentation>Критерий поиска организаций.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:choice>
										<xs:choice>
											<xs:annotation>
												<xs:documentation>Поиск по реквизитам.</xs:documentation>
											</xs:annotation>
											<xs:element ref="base:OGRNIP"/>
											<xs:sequence>
												<xs:element ref="base:OGRN"/>
												<xs:element ref="base:KPP" minOccurs="0"/>
											</xs:sequence>
										</xs:choice>
										<xs:element ref="base:orgVersionGUID"/>
										<xs:element ref="base:orgRootEntityGUID"/>
									</xs:choice>
									<xs:element name="isRegistered" type="xs:boolean" fixed="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Поиск среди организаций, имеющих личных кабинет</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="lastEditingDateFrom" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Время последнего изменения (от)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="exportOrgRegistryResult">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="OrgData" type="tns:exportOrgRegistryResultType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Найденная организация.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="exportOrgRegistryResultType">
		<xs:sequence>
			<xs:element ref="base:orgRootEntityGUID"/>
			<xs:element name="OrgVersion">
				<xs:annotation>
					<xs:documentation>Версия организации в реестре организаций</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="base:orgVersionGUID"/>
						<xs:element name="lastEditingDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>Время последнего изменения</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IsActual" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Признак актуальности записи</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice>
							<xs:element name="Legal" type="base:LegalType">
								<xs:annotation>
									<xs:documentation>Юридическое лицо</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Subsidiary">
								<xs:annotation>
									<xs:documentation>Обособленное подразделение</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="base:SubsidiaryType">
											<xs:sequence>
												<xs:element name="VersionNumber" type="xs:integer">
													<xs:annotation>
														<xs:documentation>Номер версии </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="StatusVersion">
													<xs:annotation>
														<xs:documentation>Статус версии </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string"/>
													</xs:simpleType>
												</xs:element>
												<xs:element name="ParentOrg">
													<xs:annotation>
														<xs:documentation>Информация о головной организации</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="base:RegOrgVersion"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Entrp" type="base:EntpsType">
								<xs:annotation>
									<xs:documentation>Индивидуальный предприниматель</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element name="registryOrganizationStatus" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Статус:
(P)UBLISHED - опубликована в одном из документов в рамках раскрытия</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="P"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="organizationRoles" type="base:nsiRef" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Полномочие организации (НСИ №20)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isRegistered" type="xs:boolean" fixed="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Зарегистрирована в ГИС ЖКХ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Импорт сведений о поставщиках информации ИС-->
	<xs:element name="importDataProviderRequest">
		<xs:annotation>
			<xs:documentation>Импорт сведений о поставщиках информации ИС</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="DataProvider" maxOccurs="100">
							<xs:annotation>
								<xs:documentation>Поставщик данных</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="base:TransportGUID"/>
									<xs:choice>
										<xs:element name="AllocateSenderID">
											<xs:annotation>
												<xs:documentation>Создать связь с поставщиком данных</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="base:RegOrg"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RemoveSenderID">
											<xs:annotation>
												<xs:documentation>Удалить связь с поставщиком данных</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SenderID" type="base:GUIDType">
														<xs:annotation>
															<xs:documentation>Идентификатор поставщика данных</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importDataProviderRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<!--Экспорт сведений о поставщиках информации ИС-->
	<xs:element name="exportDataProviderRequest">
		<xs:annotation>
			<xs:documentation>В качестве поискового параметра используется Идентификатор ИС из RequestHeader</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="IsActual" type="xs:boolean" fixed="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Выгрузить только активных поставщиков данных</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="exportDataProviderResult">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="exportDataProviderResult" type="tns:exportDataProviderResultType" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="exportDataProviderResultType">
		<xs:sequence>
			<xs:element name="DataProviderGUID" type="base:GUIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор поставщика данных</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsActual" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Статус связи: 1 - аткивен, 0- отключен</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="base:RegOrg"/>
		</xs:sequence>
	</xs:complexType>
	<!--Асинхронные мтоды-->
	<xs:element name="getStateResult">
		<xs:annotation>
			<xs:documentation>Возврат статуса отправленного сообщения</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseAsyncResponseType">
					<xs:choice minOccurs="0">
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="ImportResult" type="base:CommonResultType" maxOccurs="unbounded"/>
						<xs:element name="exportOrgRegistryResult" type="tns:exportOrgRegistryResultType" maxOccurs="unbounded"/>
						<xs:element name="exportDataProviderResult" type="tns:exportDataProviderResultType" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
