src/main/resources/wsdl/hcs-organizations-registry-service-8.5.0.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/organizations-registry-service/" xmlns:ro="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/organizations-registry/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/organizations-registry-service/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/organizations-registry/" schemaLocation="hcs-organizations-registry-types-8.5.0.2.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/" schemaLocation="hcs-basetypes-8.5.0.2.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="exportOrgRegistryRequest">
		<wsdl:part name="exportOrgRegistryRequest" element="ro:exportOrgRegistryRequest"/>
	</wsdl:message>
	<wsdl:message name="exportOrgRegistryResult">
		<wsdl:part name="exportOrgRegistryResult" element="ro:exportOrgRegistryResult"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="ro:ISRequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="importDataProviderRequest">
		<wsdl:part name="importDataProviderRequest" element="ro:importDataProviderRequest"/>
	</wsdl:message>
	<wsdl:message name="importDataProviderResult">
		<wsdl:part name="ImportResult" element="base:ImportResult"/>
	</wsdl:message>
	<wsdl:message name="exportDataProviderRequest">
		<wsdl:part name="exportDataProviderRequest" element="ro:exportDataProviderRequest"/>
	</wsdl:message>
	<wsdl:message name="exportDataProviderResult">
		<wsdl:part name="exportDataProviderResult" element="ro:exportDataProviderResult"/>
	</wsdl:message>
	<wsdl:message name="importSubsidiaryRequest">
		<wsdl:part name="importSubsidiaryRequest" element="ro:importSubsidiaryRequest"/>
	</wsdl:message>
	<wsdl:message name="importSubsidiaryResult">
		<wsdl:part name="importSubsidiaryResult" element="base:ImportResult"/>
	</wsdl:message>
	<wsdl:portType name="RegOrgPortsType">
		<wsdl:operation name="exportOrgRegistry">
			<wsdl:documentation>экспорт сведений об организациях</wsdl:documentation>
			<wsdl:input message="tns:exportOrgRegistryRequest"/>
			<wsdl:output message="tns:exportOrgRegistryResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importDataProvider">
			<wsdl:documentation>импорт сведений о поставщиках данных</wsdl:documentation>
			<wsdl:input message="tns:importDataProviderRequest"/>
			<wsdl:output message="tns:importDataProviderResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportDataProvider">
			<wsdl:documentation>экспорт сведений о поставщиках данных</wsdl:documentation>
			<wsdl:input message="tns:exportDataProviderRequest"/>
			<wsdl:output message="tns:exportDataProviderResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importSubsidiary">
			<wsdl:documentation>импорт сведений об обособленном подразделении</wsdl:documentation>
			<wsdl:input message="tns:importSubsidiaryRequest"/>
			<wsdl:output message="tns:importSubsidiaryResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RegOrgBinding" type="tns:RegOrgPortsType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="exportOrgRegistry">
			<soap:operation soapAction="urn:exportOrgRegistry"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importDataProvider">
			<soap:operation soapAction="urn:importDataProvider"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportDataProvider">
			<soap:operation soapAction="urn:exportDataProvider"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importSubsidiary">
			<soap:operation soapAction="urn:importSubsidiary"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RegOrgService">
		<wsdl:port name="RegOrgPort" binding="tns:RegOrgBinding">
			<soap:address location="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/organizations-regestry-service/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
