src/main/resources/wsdl/hcs-payment-types-8.5.0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/payment/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/payment/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/" schemaLocation="hcs-basetypes-8.5.0.2.xsd"/>
	<!--Передать перечень документов «Извещение о принятии к исполнению распоряжения»-->
	<xs:element name="importNotificationsOfOrderExecutionRequest">
		<xs:annotation>
			<xs:documentation>Пакет извещений о принятии к исполнению распоряжений (СД_ИОПЛАТА_ИЗВ_ЗАП)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="NotificationOfOrderExecutionType" maxOccurs="1000">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tns:NotificationOfOrderExecutionType">
										<xs:sequence>
											<xs:element ref="base:TransportGUID"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importNotificationsOfOrderExecutionRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="importNotificationsOfOrderExecutionRequest_OrderIDKey">
			<xs:selector xpath="tns:NotificationOfOrderExecutionType/tns:OrderInfo/tns:OrderID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<!--Импорт документов «Извещение об аннулировании извещения о принятии к исполнению распоряжения»-->
	<xs:element name="importNotificationsOfOrderExecutionCancellationRequest">
		<xs:annotation>
			<xs:documentation>Пакет извещений об аннулировании извещений о принятии к распоряжения к исполнению (СД_ИОПЛАТА_ИЗВАН_ЗАП)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="NotificationOfOrderExecutionCancellation" type="tns:NotificationOfOrderExecutionCancellationType" maxOccurs="1000"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importNotificationsOfOrderExecutionCancellationRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="importNotificationsOfOrderExecutionCancellationRequest_OrderIDKey">
			<xs:selector xpath="tns:NotificationOfOrderExecutionCancellation/tns:OrderID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<!--Экспорт извещений с результатами квитирования-->
	<xs:element name="exportNotificationsOfOrderExecutionRequest">
		<xs:annotation>
			<xs:documentation>Запрос перечня извещений о принятии к исполнению распоряжений (СД_ИОПЛАТА_ИЗВЭКС_ЗАП)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="PaymentDocumentGuid" type="base:GUIDType" maxOccurs="100">
							<xs:annotation>
								<xs:documentation>Идентификатор существующего платежного документа</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Импорт пакета документов «Запрос на квитирование»-->
	<xs:element name="importAcknowledgmentRequest">
		<xs:annotation>
			<xs:documentation>Передать запросы на проведение квитирования</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="AcknowledgmentRequestInfo" maxOccurs="1000">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tns:AcknowledgmentRequestInfoType">
										<xs:sequence>
											<xs:element ref="base:TransportGUID"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importAcknowledgmentRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<xs:element name="exportNotificationsOfOrderExecutionResult">
		<xs:annotation>
			<xs:documentation>Экспорт извещений о принятии к исполнению распоряжений (квитанций об оплате) с результатами квитирования</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element name="exportNotificationsOfOrderExecutionResult" type="tns:exportNotificationsOfOrderExecutionResultType" maxOccurs="unbounded"/>
						<xs:element ref="base:ErrorMessage"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="exportNotificationsOfOrderExecutionResultType">
		<xs:sequence>
			<xs:element name="NotificationOfOrderExecutionWithStatus" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:NotificationOfOrderExecutionType">
							<xs:sequence>
								<xs:element name="Status">
									<xs:annotation>
										<xs:documentation>Статус обработки распоряжения </xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Новый"/>
											<xs:enumeration value="Предварительно сквитирован"/>
											<xs:enumeration value="Сквитирован"/>
											<xs:enumeration value="Частично сквитирован"/>
											<xs:enumeration value="Аннулирован"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="CreationDate" type="xs:dateTime">
									<xs:annotation>
										<xs:documentation>Дата создания документа в системе </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AcknowledgmentRequestsList">
									<xs:annotation>
										<xs:documentation>Список результатов квитирования</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="AcknowledgmentRequest" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Результат квитирования</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="tns:AcknowledgmentRequestInfoType"/>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="AcknowledgmentAmount" type="base:AmountType">
									<xs:annotation>
										<xs:documentation>Сумма квитирования (в копейках)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element ref="base:CheckingAccount"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Экспорт реквизитов платежных документов-->
	<xs:element name="exportPaymentDocumentDetailsRequest">
		<xs:annotation>
			<xs:documentation>Запрос экспорта реквизитов и сведений о платежных документах</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element ref="base:PaymentDocumentNumber" maxOccurs="100"/>
						<xs:sequence>
							<xs:element ref="base:Year"/>
							<xs:element ref="base:Month"/>
							<xs:element ref="base:AccountNumber"/>
							<xs:element name="FIASHouseGuid" type="base:FIASHouseGUIDType">
								<xs:annotation>
									<xs:documentation>Глобальный уникальный идентификатор дома по ФИАС</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="exportPaymentDocumentDetailsResult">
		<xs:annotation>
			<xs:documentation>Ответ на запрос экспорта реквизитов и сведений о платежных документах</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element name="PaymentDocument" type="tns:PaymentDocumentDetailsType" maxOccurs="unbounded"/>
						<xs:element ref="base:ErrorMessage"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Методы для асинхронного обмена-->
	<xs:element name="getStateResult">
		<xs:annotation>
			<xs:documentation>Возврат статуса отправленного сообщения</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseAsyncResponseType">
					<xs:choice minOccurs="0">
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="ImportResult" type="base:CommonResultType" maxOccurs="unbounded"/>
						<xs:element name="exportNotificationsOfOrderExecutionResult" type="tns:exportNotificationsOfOrderExecutionResultType" maxOccurs="unbounded"/>
						<xs:element name="exportPaymentDocumentDetailsResult" type="tns:PaymentDocumentDetailsType" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Используемые типы-->
	<xs:complexType name="NotificationOfOrderExecutionType">
		<xs:annotation>
			<xs:documentation>Извещение о принятии к исполнению распоряжения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SupplierInfo">
				<xs:annotation>
					<xs:documentation>Сведения о плательщике</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SupplierID">
							<xs:annotation>
								<xs:documentation>Уникальный идентификатор плательщика</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="25"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SupplierName">
							<xs:annotation>
								<xs:documentation>Наименование плательщика</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="160"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecipientInfo">
				<xs:annotation>
					<xs:documentation>Сведения о получателе платежа</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecipientINN" type="base:INNType">
							<xs:annotation>
								<xs:documentation>ИНН получателя платежа</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RecipientKPP" type="base:KPPType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>КПП получателя платежа</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BankName">
							<xs:annotation>
								<xs:documentation>Наименование банка получателя платежа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="160"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RecipientBIK" type="base:BIKType">
							<xs:annotation>
								<xs:documentation>БИК банка получателя платежа</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CorrespondentBankAccount" type="base:AccountType">
							<xs:annotation>
								<xs:documentation>Корр. счет банка получателя</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RecipientAccount" type="base:AccountType">
							<xs:annotation>
								<xs:documentation>Счет получателя</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RecipientName">
							<xs:annotation>
								<xs:documentation>Наименование получателя платежа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="160"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderInfo">
				<xs:annotation>
					<xs:documentation>Общие сведения о распоряжении</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:OrderID"/>
						<xs:element name="PaymentDocumentGuid" type="base:GUIDType">
							<xs:annotation>
								<xs:documentation>Идентификатор существующего платежного документа</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="base:AccountNumber" minOccurs="0"/>
						<xs:element name="OrderNum">
							<xs:annotation>
								<xs:documentation>Номер распоряжения</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="9"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrderDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>Дата</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Amount" type="base:MoneyPositiveType">
							<xs:annotation>
								<xs:documentation>Сумма</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PaymentPurpose">
							<xs:annotation>
								<xs:documentation>Назначение платежа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="210"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Comment" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Произвольный комментарий </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="210"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotificationOfOrderExecutionCancellationType">
		<xs:annotation>
			<xs:documentation>Извещение об аннулировании извещения о принятии распоряжения к исполнению</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="tns:OrderID"/>
			<xs:element name="CancellationDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата аннулирования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Комментарий</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="210"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="base:TransportGUID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcknowledgmentRequestInfoType">
		<xs:annotation>
			<xs:documentation>Запрос на квитирование</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="tns:OrderID">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор извещения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="base:PaymentDocumentNumber"/>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Вид квитируемой услуги из платежного поручения</xs:documentation>
				</xs:annotation>
				<xs:element name="HSType" type="base:GUIDType">
					<xs:annotation>
						<xs:documentation>Вид ЖУ (справочник "Классификатор видов работ (услуг)")</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MSType" type="base:GUIDType">
					<xs:annotation>
						<xs:documentation>Вид КУ (справочник "Вид коммунальной услуги")</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ASType" type="base:GUIDType">
					<xs:annotation>
						<xs:documentation>Вид ДУ (справочник "Вид дополнительной услуги")</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Amount">
				<xs:annotation>
					<xs:documentation>Сумма квитирования (в копейках)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="1"/>
						<xs:totalDigits value="13"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderID">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор распоряжения</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AccountID">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор счета, в уплату которого поступил платеж.
В случае отсутствия указывается 0.
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="PaymentDocumentDetailsType">
		<xs:annotation>
			<xs:documentation>Реквизиты и свойства платежного документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentDocumentGuid" type="base:GUIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор существующего платежного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="base:PaymentDocumentNumber"/>
			<xs:element ref="base:AccountNumber"/>
			<xs:element name="PaymentInformation" type="base:PaymentInformationType">
				<xs:annotation>
					<xs:documentation>Сведения о платежных реквизитах организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="Expose" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Выставлен на оплату</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Withdraw" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Отозванный</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Reminder" type="base:MoneyPositiveType">
				<xs:annotation>
					<xs:documentation>Остаток к оплате по платежному документу</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
