src/main/resources/wsdl/hcs-disclosure-service-async-8.7.0.6.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.7.0.6/disclosure-service-async/" xmlns:md="http://dom.gosuslugi.ru/schema/integration/8.7.0.6/disclosure/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.7.0.6/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.7.0.6/disclosure-service-async/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.7.0.6/disclosure/" schemaLocation="hcs-disclosure-types-8.7.0.6.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.7.0.6/" schemaLocation="hcs-basetypes-8.7.0.6.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:message name="getStateRequest">
		<wsdl:part name="getStateRequest" element="base:getStateRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateResult">
		<wsdl:part name="getStateResult" element="md:getStateResult"/>
	</wsdl:message>
	<wsdl:message name="importDisclosureRequest">
		<wsdl:part name="importDisclosureRequest" element="md:importDisclosureRequest"/>
	</wsdl:message>
	<wsdl:message name="importDisclosureResult">
		<wsdl:part name="AckRequest" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="NewMessage"/>
	<wsdl:portType name="DisclosurePortsTypeAsync">
		<wsdl:operation name="getState">
			<wsdl:documentation>Статус операции</wsdl:documentation>
			<wsdl:input message="tns:getStateRequest"/>
			<wsdl:output message="tns:getStateResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importDisclosure">
			<wsdl:documentation>Импорт формы раскрытия УО</wsdl:documentation>
			<wsdl:input message="tns:importDisclosureRequest"/>
			<wsdl:output message="tns:importDisclosureResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DisclosureBindingAsync" type="tns:DisclosurePortsTypeAsync">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getState">
			<soap:operation soapAction="urn:getState"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importDisclosure">
			<soap:operation soapAction="urn:importDisclosure"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DisclosureServiceAsync">
		<wsdl:port name="DisclosurePortAsync" binding="tns:DisclosureBindingAsync">
			<soap:address location="http://dom.gosuslugi.ru/integration/services/DisclosureAsync"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
