src/main/resources/wsdl/hcs-inspection-types-8.7.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.7.0.7/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.7.0.7/inspection/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.7.0.7/inspection/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.7.0.7/" schemaLocation="hcs-basetypes-8.7.0.7.xsd"/>
	<!-- Скалярные типы -->
	<xs:simpleType name="InspectionPlanVersionStateType">
		<xs:annotation>
			<xs:documentation>Статус версии плана проверок. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Draft">
				<xs:annotation>
					<xs:documentation>Черновик.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Signed">
				<xs:annotation>
					<xs:documentation>Подписан.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlannedExaminationVersionStateType">
		<xs:annotation>
			<xs:documentation>Статус версии плановой проверки. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Draft">
				<xs:annotation>
					<xs:documentation>Черновик.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Published">
				<xs:annotation>
					<xs:documentation>Опубликована.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlannedExaminationStateType">
		<xs:annotation>
			<xs:documentation>Статус плановой проверки.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Planned">
				<xs:annotation>
					<xs:documentation>Запланирована.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Cancelled">
				<xs:annotation>
					<xs:documentation>Отменена.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Finished"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExaminationVersionStateType">
		<xs:annotation>
			<xs:documentation>Статус версии проверки.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Draft">
				<xs:annotation>
					<xs:documentation>Черновик.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Published">
				<xs:annotation>
					<xs:documentation>Опубликована.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExaminationStateType">
		<xs:annotation>
			<xs:documentation>Статус проверки.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Executing">
				<xs:annotation>
					<xs:documentation>Выполняется.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Finished">
				<xs:annotation>
					<xs:documentation>Завершена.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Cancelled">
				<xs:annotation>
					<xs:documentation>Отменена.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PreceptStateType">
		<xs:annotation>
			<xs:documentation>Статус предписания.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Active">
				<xs:annotation>
					<xs:documentation>Не отменено (не отозвано).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Cancelled">
				<xs:annotation>
					<xs:documentation>Отменено (отозвано).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fulfiled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OffenceStateType">
		<xs:annotation>
			<xs:documentation>Статус протокола.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Active">
				<xs:annotation>
					<xs:documentation>Не отменен.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Cancelled">
				<xs:annotation>
					<xs:documentation>Отменен.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fulfiled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String50Type">
		<xs:annotation>
			<xs:documentation>Строка не более 50 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String255Type">
		<xs:annotation>
			<xs:documentation>Строка не более 255 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String2000Type">
		<xs:annotation>
			<xs:documentation>Строка не более 2000 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeUnitCountType">
		<xs:annotation>
			<xs:documentation>Число временных единиц.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberType">
		<xs:annotation>
			<xs:documentation>Порядковый номер.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Объекты предметной области -->
	<xs:complexType name="CitizenInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о физическом лице.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LastName" type="tns:String255Type">
				<xs:annotation>
					<xs:documentation>Фамилия.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="tns:String255Type">
				<xs:annotation>
					<xs:documentation>Имя.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScheduledExaminationSubjectInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о субъекте проверки для плановой проверки.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Organization">
				<xs:annotation>
					<xs:documentation>Юридическое лицо.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="base:RegOrgType">
							<xs:sequence>
								<xs:element name="ActualActivityPlace" type="tns:String2000Type">
									<xs:annotation>
										<xs:documentation>Место фактического осуществления деятельности.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Individual">
				<xs:annotation>
					<xs:documentation>Индивидуальный предприниматель.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="base:RegOrgType">
							<xs:sequence>
								<xs:element name="ActualActivityPlace" type="tns:String2000Type">
									<xs:annotation>
										<xs:documentation>Место фактического осуществления деятельности.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="UnscheduledExaminationSubjectInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о субъекте проверки для внеплановой.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Organization">
				<xs:annotation>
					<xs:documentation>Юридическое лицо.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="base:RegOrgType">
							<xs:sequence>
								<xs:element name="ActualActivityPlace" type="tns:String2000Type">
									<xs:annotation>
										<xs:documentation>Место фактического осуществления деятельности.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Individual">
				<xs:annotation>
					<xs:documentation>Индивидуальный предприниматель.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="base:RegOrgType">
							<xs:sequence>
								<xs:element name="ActualActivityPlace" type="tns:String2000Type">
									<xs:annotation>
										<xs:documentation>Место фактического осуществления деятельности.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Citizen" type="tns:CitizenInfoType">
				<xs:annotation>
					<xs:documentation>Гражданин.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="InspectionPlanType">
		<xs:annotation>
			<xs:documentation>Основные реквизиты плана проверок.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Year" type="base:YearType">
				<xs:annotation>
					<xs:documentation>Год плана.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApprovalDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата утверждения плана.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfo" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlannedExaminationType">
		<xs:annotation>
			<xs:documentation>Плановая проверка (пункт плана проверок)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NumberInPlan">
				<xs:annotation>
					<xs:documentation>Порядковый номер.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="tns:NumberType">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Subject" type="tns:ScheduledExaminationSubjectInfoType">
				<xs:annotation>
					<xs:documentation>Субъект проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Objective" type="tns:String2000Type">
				<xs:annotation>
					<xs:documentation>Цель проведения проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Base" type="base:nsiRef">
				<xs:annotation>
					<xs:documentation>Основание проведения проверки. НСИ "Основание проведения проверки" (реестровый номер 68).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfoAboutExamBase" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация об основаниях проведения проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastExaminationEndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания последней проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateFrom" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата начала проведения проверки </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration">
				<xs:annotation>
					<xs:documentation>Срок проведения плановой проверки</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="WorkDays">
							<xs:annotation>
								<xs:documentation>рабочих дней</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="WorkHours">
							<xs:annotation>
								<xs:documentation>рабочих часов (для МСП и МКП)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:double">
									<xs:minInclusive value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExaminationForm" type="base:nsiRef">
				<xs:annotation>
					<xs:documentation>Форма проведеня проверки. НСИ "Форма проведения проверки" (реестровый номер 71).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CooperationWith" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Орган государственного надзора (контроля) и/или орган муниципального контроля,  с которым  проверка проводится совместно.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExaminationType">
		<xs:annotation>
			<xs:documentation>Проверка.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExaminationForm" type="base:nsiRef">
				<xs:annotation>
					<xs:documentation>Форма проведения проверки. НСИ "Форма проведения проверки" (реестровый номер 71).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderNumber" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер распоряжения (приказа).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата утверждения распоряжения (приказа).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExaminationTypeType">
				<xs:annotation>
					<xs:documentation>Вид проверки.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Scheduled">
							<xs:annotation>
								<xs:documentation>Плановая проверка.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Subject" type="tns:ScheduledExaminationSubjectInfoType">
										<xs:annotation>
											<xs:documentation>Субъект проверки (ЮЛ, ИП).</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Unscheduled">
							<xs:annotation>
								<xs:documentation>Внеплановая проверка.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Subject" type="tns:UnscheduledExaminationSubjectInfoType">
										<xs:annotation>
											<xs:documentation>Субъект проверки (ЮЛ, ИП, Гражданин).</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="OversightActivitiesRef" type="base:nsiRef">
				<xs:annotation>
					<xs:documentation>Вид осуществления контрольной деятельности. НСИ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Base" type="base:nsiRef">
				<xs:annotation>
					<xs:documentation>Основание проведения проверки. НСИ "Основание проведения проверки" (реестровый номер 68).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfoAboutExamBase" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация об основаниих проведения проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Objective" type="tns:String2000Type">
				<xs:annotation>
					<xs:documentation>Цель проведения проверки с реквизитами докуентов основания.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="From" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок проведения проверки с (включительно) - дата начала проведения проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок проведения проверки по (включительно) - дата окончания проведения проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration">
				<xs:annotation>
					<xs:documentation>Срок проведения проверки.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="WorkDays">
							<xs:annotation>
								<xs:documentation>Рабочих дней.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="tns:TimeUnitCountType"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="WorkHours">
							<xs:annotation>
								<xs:documentation>Рабочих часов (для МСП и МКП).</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="tns:TimeUnitCountType"/>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="Object" type="base:nsiRef" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Предмет проверки. НСИ "Предмет проверки" (реестровый номер 69).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tasks" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Задачи проведения проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfo" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация о проверке.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExecutingInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о проведении проверки.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Event" type="tns:ExaminationEventType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Мероприятие проверки.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Place" type="tns:ExaminationPlaceType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Место проведения проверки.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FinishedInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о результате проверки.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="tns:ExaminationResultType">
							<xs:annotation>
								<xs:documentation>Сведения о результате проверки.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OtherDocument" type="base:AttachmentType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Другие документы по итогам проверки.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CancelledInfo" type="tns:CancelledInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информция об отмене проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attachments" type="base:AttachmentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Документы проверки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExaminationEventType">
		<xs:annotation>
			<xs:documentation>Сведения о мероприятии.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="tns:String255Type">
				<xs:annotation>
					<xs:documentation>Номер.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="tns:String2000Type">
				<xs:annotation>
					<xs:documentation>Мероприятие.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfo" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExaminationPlaceType">
		<xs:annotation>
			<xs:documentation>Место проведения проверки.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrderNumber" type="tns:NumberType">
				<xs:annotation>
					<xs:documentation>Порядковый номер.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIASHouseGuid" type="base:FIASHouseGUIDType">
				<xs:annotation>
					<xs:documentation>Адрес дома.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfo" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информция.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExaminationResultType">
		<xs:annotation>
			<xs:documentation>Результат проверки.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentType" type="base:nsiRef">
				<xs:annotation>
					<xs:documentation>Вид документа результата проверки. НСИ "Вид документа по результатам проверки" (реестровый номер 64).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="tns:String255Type">
				<xs:annotation>
					<xs:documentation>Номер документа результата проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата составления документа результата проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Time" type="xs:time">
				<xs:annotation>
					<xs:documentation>Время составления документа результата проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HasOffence" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Результат проверки. True - нарушения выявлены, False - нарушений не выявлено.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfo" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация о результате проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreceptType">
		<xs:annotation>
			<xs:documentation>Предписание.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="tns:String255Type">
				<xs:annotation>
					<xs:documentation>Номер документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIASHouseGUID" type="base:FIASHouseGUIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес дома.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortInfo" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Краткая информация.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attachment" type="base:AttachmentType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вложение.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenceType">
		<xs:annotation>
			<xs:documentation>Протоколол об административном правонарушении.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="tns:String255Type">
				<xs:annotation>
					<xs:documentation>Номер протокола.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата составления протокола.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortInfo" type="tns:String2000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Краткая информация.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attachment" type="base:AttachmentType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вложение.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Импорт плана проверок. -->
	<xs:element name="importInspectionPlanRequest">
		<xs:annotation>
			<xs:documentation>Запрос на импорт плана проверок.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="ImportInspectionPlan" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Создание/изменение плана проверок</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:sequence>
										<xs:element ref="base:TransportGUID"/>
										<xs:element name="InspectionPlanGuid" type="base:GUIDType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор плана проверок в ГИС ЖКХ.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:element name="Sign" type="xs:boolean" fixed="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Признак подписания плана проверок для публикации в ГИС ЖКХ. </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="InspectionPlan" type="tns:InspectionPlanType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Добавляемый/изменяемый план проверок. Не заполяется при выполнении операций только с плановыми проверками.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ImportPlannedExamination" minOccurs="0" maxOccurs="1000">
										<xs:annotation>
											<xs:documentation>Создание плановой проверки в плане проверок.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:sequence>
													<xs:element ref="base:TransportGUID"/>
													<xs:element name="PlannedExaminationGuid" type="base:GUIDType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Идентификатор плановой проверки в ГИС ЖКХ.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:element name="Publish" type="xs:boolean" fixed="true" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Признак публикации плановой проверки</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="PlannedExamination" type="tns:PlannedExaminationType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Плановая проверка.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="DeletePlannedExamination" type="xs:boolean" fixed="true" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Удаление плановой проверки</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CancelPlannedExamination" type="tns:CancelledInfoType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Отмена плановой проверки.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="DeleteInspectionPlan" type="xs:boolean" fixed="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Удаление плана проверок. Также удаляются все плановые проверки.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importInspectionPlanRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<!-- Экспорт планов проверок. -->
	<xs:element name="exportInspectionPlansRequest">
		<xs:annotation>
			<xs:documentation>Запрос на экспорт планов проверок.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="YearFrom" type="base:YearType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Начальный год (включительно). Если не заполнено, то без ограничения начального года.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="YearTo" type="base:YearType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Конечный год (включительно). Если не заполнено, то без ограничения конечного года.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="exportInspectionPlansResult">
		<xs:annotation>
			<xs:documentation>Ответ на запрос на экспорт планов проверок.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element name="exportInspectionPlanResult" type="tns:exportInspectionPlanResultType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Возвращаемый план проверок.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="base:ErrorMessage"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="exportInspectionPlanResultType">
		<xs:annotation>
			<xs:documentation>Возвращаемый план проверок.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InspectionPlanGuid" type="base:GUIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор плана проверок.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistryNumber" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Реестровый номер плана проверок.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionState" type="tns:InspectionPlanVersionStateType">
				<xs:annotation>
					<xs:documentation>Статус версии плана проверок
Допустимые значения: 
Draft - Проект
Signed - Подписан</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionPlan" type="tns:InspectionPlanType">
				<xs:annotation>
					<xs:documentation>План проверок.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlannedExamination" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Плановая проверка.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PlannedExaminationGuid" type="base:GUIDType">
							<xs:annotation>
								<xs:documentation>Идентификатор плановой проверки.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RegistryNumber" type="tns:String255Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Реестровый номер плановой проверки.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="State" type="tns:PlannedExaminationStateType">
							<xs:annotation>
								<xs:documentation>Статус плановой проверки.
Допустимые значения:
Planned - Запланировна
Cancelled - Отменена
Finished - Завершена</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VersionState" type="tns:PlannedExaminationVersionStateType">
							<xs:annotation>
								<xs:documentation>Статус версии плановой проверки.
Допустимые значения: 
Draft - Проект
Published - Опубликовано</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PlannedExaminationInfo">
							<xs:annotation>
								<xs:documentation>Плановая проверка.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tns:PlannedExaminationType">
										<xs:sequence>
											<xs:element name="CancelledInfo" type="tns:CancelledInfoType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Информация об отмене проверки.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Импорт проверок. -->
	<xs:element name="importExaminationsRequest">
		<xs:annotation>
			<xs:documentation>Запрос на импорт проверок.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="ImportExamination" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Импорт проверки</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:sequence>
										<xs:element ref="base:TransportGUID"/>
										<xs:element name="ExaminationGuid" type="base:GUIDType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Идентификатор проверки в ГИС ЖКХ.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:element name="Publish" type="xs:boolean" fixed="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Признак публикации проверки</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Examination" type="tns:ExaminationType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Проверка. Не заполняется при импорте предписаний и протоколов к существующей проверке</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DeleteExamination" type="xs:boolean" fixed="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Удаление проверки</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ImportPrecept" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Предписание</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:sequence>
													<xs:element ref="base:TransportGUID"/>
													<xs:element name="PreceptGuid" type="base:GUIDType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Идентификатор предписания в ГИС ЖКХ</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:choice>
													<xs:element name="Precept" type="tns:PreceptType">
														<xs:annotation>
															<xs:documentation>Создание/изменение предписания </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CancelPrecept">
														<xs:annotation>
															<xs:documentation>Отмена (отзыв) предписания</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CancelledInfo" type="tns:CancelledInfoWithAttachmentsType">
																	<xs:annotation>
																		<xs:documentation>Причина отмены документа.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DeletePrecept" type="xs:boolean" fixed="true">
														<xs:annotation>
															<xs:documentation>Удаление предписания</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FulfiledPrecept" type="xs:boolean" fixed="true">
														<xs:annotation>
															<xs:documentation>Отметить предписание как исполненное</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:choice>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ImportOffence" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Протокол </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:sequence>
													<xs:element ref="base:TransportGUID"/>
													<xs:element name="OffenceGuid" type="base:GUIDType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Идентификатор протокола в ГИС ЖКХ</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:choice>
													<xs:element name="Offence" type="tns:OffenceType">
														<xs:annotation>
															<xs:documentation>Создание/изменение протокола</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CancelOffence">
														<xs:annotation>
															<xs:documentation>Отмена протокола</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CancelledInfo" type="tns:CancelledInfoWithAttachmentsType">
																	<xs:annotation>
																		<xs:documentation>Причина отмены документа.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="FulfiledOffence" type="xs:boolean" fixed="true">
														<xs:annotation>
															<xs:documentation>Отметить протокол как исполненный</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DeleteOffence" type="xs:boolean" fixed="true">
														<xs:annotation>
															<xs:documentation>Удаление протокола</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:choice>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importExaminationsRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<!-- Экспорт проверок. -->
	<xs:element name="exportExaminationsRequest">
		<xs:annotation>
			<xs:documentation>Запрос на экспорт проверок.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="From" type="xs:date">
							<xs:annotation>
								<xs:documentation>Начало периода даты начала проведения проверки (включительно).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="To" type="xs:date">
							<xs:annotation>
								<xs:documentation>Конец периода даты начала проведения проверки (включительно).</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="exportExaminationsResult">
		<xs:annotation>
			<xs:documentation>Ответ на запрос на экспорт проверок.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element name="exportExaminationResult" type="tns:exportExaminationResultType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Эксортируемая проверка.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="base:ErrorMessage"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="exportExaminationResultType">
		<xs:annotation>
			<xs:documentation>Экспортируемая проверка.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExaminationGuid" type="base:GUIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор проверки в ГИС ЖКХ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistryNumber" type="tns:String255Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Реестровый номер проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExaminationState" type="tns:ExaminationStateType">
				<xs:annotation>
					<xs:documentation>Статус проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExaminationVersionState" type="tns:ExaminationVersionStateType">
				<xs:annotation>
					<xs:documentation>Статус версии проверки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Examination" type="tns:ExaminationType">
				<xs:annotation>
					<xs:documentation>Проверка.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportPrecept" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Предписание.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PreceptGuid" type="base:GUIDType">
							<xs:annotation>
								<xs:documentation>Идентификатор предписания в ГИС ЖКХ.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreceptState" type="tns:PreceptStateType">
							<xs:annotation>
								<xs:documentation>Статус предписания</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Precept" type="tns:PreceptType">
							<xs:annotation>
								<xs:documentation>Реквизиты предписания.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CancelledInfo" type="tns:CancelledInfoWithAttachmentsType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сведения об отмене предписания.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExportOffence" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Протокол.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OffenceGuid" type="base:GUIDType">
							<xs:annotation>
								<xs:documentation>Идентификатор протокола в ГИС ЖКХ.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OffenceState" type="tns:OffenceStateType">
							<xs:annotation>
								<xs:documentation>Статус протокола.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Offence" type="tns:OffenceType">
							<xs:annotation>
								<xs:documentation>Реквизиты протокола.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CancelledInfo" type="tns:CancelledInfoWithAttachmentsType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Сведения об отмене протокола.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Типы для реализации асинхронной версии сервиса.-->
	<xs:element name="getStateResult">
		<xs:annotation>
			<xs:documentation>Возврат статуса отправленного сообщения</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseAsyncResponseType">
					<xs:choice minOccurs="0">
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="CommonResult" type="base:CommonResultType" maxOccurs="unbounded"/>
						<xs:element name="exportInspectionPlanResult" type="tns:exportInspectionPlanResultType" maxOccurs="unbounded"/>
						<xs:element name="exportExaminationResult" type="tns:exportExaminationResultType" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CancelledInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об отмене документа.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Reason" type="tns:String2000Type">
				<xs:annotation>
					<xs:documentation>Причина отмены документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата отмены документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер решения об отмене.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="tns:String255Type">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelledInfoWithAttachmentsType">
		<xs:annotation>
			<xs:documentation>Сведения об отмене документа с приложением подтверждающих документов.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:CancelledInfoType">
				<xs:sequence>
					<xs:element name="Attachments" type="base:AttachmentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Подтверждающие документы. Поле является обязательным, если поле IsJudgementDecision=true</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsJudgementDecision" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>По решению суда</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
