src/main/resources/wsdl/hcs-bills-types-8.5.0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/bills/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/bills/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/" schemaLocation="hcs-basetypes-8.5.0.2.xsd"/>
	<!--Окрыть расчетный период организации-->
	<xs:element name="openOrgPaymentPeriodRequest">
		<xs:annotation>
			<xs:documentation>Результат операции: в ImportResult/CRUDResult/GUID возвращается organizationAccountPeriodGuid</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:choice>
							<xs:element name="createFirstPeriod" type="tns:PaymentPeriodType">
								<xs:annotation>
									<xs:documentation>Создание первого отчетного периода орагнизации</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="createNextPeriodUO" type="xs:boolean" fixed="true">
								<xs:annotation>
									<xs:documentation>Закрыть текущий и создать следующий расчетный период для полномочия "УО"</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="createNextPeriodRSO" type="xs:boolean" fixed="true">
								<xs:annotation>
									<xs:documentation>Закрыть текущий и создать следующий расчетный период для полномочия "РСО"</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element ref="base:TransportGUID"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="openOrgPaymentPeriodRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<!--Закрыть расчетный период дома-->
	<xs:element name="closeHousePaymentPeriodRequest">
		<xs:annotation>
			<xs:documentation>Закрыть расчетный период дома</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="HousePeriod" maxOccurs="1000">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FIASHouseGuid" type="base:FIASHouseGUIDType">
										<xs:annotation>
											<xs:documentation>Глобальный уникальный идентификатор дома по ФИАС</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:choice>
										<xs:element name="isUO" type="xs:boolean" fixed="true">
											<xs:annotation>
												<xs:documentation>Закрыть для полномочия "УО"</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="isRSO" type="xs:boolean" fixed="true">
											<xs:annotation>
												<xs:documentation>Закрыть для полномочия "УО"</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
									<xs:element ref="base:TransportGUID"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="closeHousePaymentPeriodRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<!--Получить статус текущего расчетного периода организации-->
	<xs:element name="exportOrgPeriodRequest">
		<xs:annotation>
			<xs:documentation>Получить статус текущего расчетного периода организации</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element name="isUO" type="xs:boolean" fixed="true">
							<xs:annotation>
								<xs:documentation>для полномочия "УО"</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="isRSO" type="xs:boolean" fixed="true">
							<xs:annotation>
								<xs:documentation> для полномочия "УО"</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="exportOrgPeriodResult">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="OrgPeriod" type="tns:exportOrgPeriodResultType" maxOccurs="2"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="exportOrgPeriodResultType">
		<xs:annotation>
			<xs:documentation>Статус текущего расчетного периода организации, включая расчетный период дома</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:PaymentPeriodType">
				<xs:sequence>
					<xs:element name="HousePeriod" type="tns:HousePaymentPeriodType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Импорт платежных документов-->
	<xs:element name="importPaymentDocumentRequest">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element ref="base:Month"/>
						<xs:element ref="base:Year"/>
						<xs:element name="PaymentDocument" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Платежный документ</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tns:PaymentDocumentType">
										<xs:sequence>
											<xs:element ref="base:TransportGUID"/>
											<xs:element name="PaymentDocumentGuid" type="base:GUIDType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Идентификатор существующего платежного документа</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="importPaymentDocumentRequest_TransportGUIDKey">
			<xs:selector xpath=".//base:TransportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<!--Экспорт платежных документов-->
	<xs:element name="exportPaymentDocumentRequest">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element ref="base:Month"/>
						<xs:element ref="base:Year"/>
						<xs:element ref="base:AccountGuid" maxOccurs="1000"/>
						<xs:element ref="base:PaymentDocumentNumber" minOccurs="0" maxOccurs="1000"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="exportPaymentDocumentResult">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element name="PaymentDocument" type="tns:exportPaymentDocumentResultType" maxOccurs="unbounded"/>
						<xs:element ref="base:ErrorMessage"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="exportPaymentDocumentResultType">
		<xs:annotation>
			<xs:documentation>Платежный документ</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="base:ErrorMessage"/>
			<xs:element name="PaymentDocument">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:PaymentDocumentType">
							<xs:sequence>
								<xs:element name="PaymentDocumentGuid" type="base:GUIDType">
									<xs:annotation>
										<xs:documentation>Идентификатор существующего платежного документа</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element ref="base:PaymentDocumentNumber"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!--Методы для асинхронного обмена-->
	<xs:element name="getStateResult">
		<xs:annotation>
			<xs:documentation>Возврат статуса отправленного сообщения</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseAsyncResponseType">
					<xs:choice minOccurs="0">
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="ImportResult" type="base:CommonResultType" maxOccurs="unbounded"/>
						<xs:element name="exportOrgPeriodResult" type="tns:exportOrgPeriodResultType" maxOccurs="2"/>
						<xs:element name="exportPaymentDocResult" type="tns:exportPaymentDocumentResultType" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Расчетные периоды-->
	<xs:complexType name="PaymentPeriodType">
		<xs:sequence>
			<xs:element ref="base:Month"/>
			<xs:element ref="base:Year"/>
			<xs:choice>
				<xs:element name="isUO" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>для полномочия "УО"</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="isRSO" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation> для полномочия "УО"</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PaymentPeriodStatus">
		<xs:annotation>
			<xs:documentation>Статус расчетного периода. (O)pen - открыт, (C)losed - закрыт, </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:enumeration value="O"/>
				<xs:enumeration value="C"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="HousePaymentPeriodType">
		<xs:annotation>
			<xs:documentation>Характеристика расчетного периода дома</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="base:HouseGuid"/>
			<xs:element ref="tns:PaymentPeriodStatus"/>
			<xs:element name="OpeningDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата открытия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClosingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата закрытия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Сведения о платежном документе-->
	<xs:complexType name="ServicePDType">
		<xs:annotation>
			<xs:documentation>Потребление по услуге</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceType" type="base:nsiRef">
				<xs:annotation>
					<xs:documentation>Код услуги (жилищной, коммунальной или дополнительной)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="base:OKEI" minOccurs="0"/>
			<xs:element name="Rate" type="base:SmallMoneyPositiveType">
				<xs:annotation>
					<xs:documentation>Тариф</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="tns:ServiceInformation" minOccurs="0"/>
			<xs:element name="Consumption" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Объем услуг - индивидульное потребление и(или) общедомовые нужды</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Volume" maxOccurs="2">
							<xs:annotation>
								<xs:documentation>Объем услуги</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="base:VolumeType">
										<xs:attribute name="type">
											<xs:annotation>
												<xs:documentation>Тип предоставления услуги:
(I)ndividualConsumption - индивидульное потребление
house(O)verallNeeds - общедомовые нужды</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="I"/>
													<xs:enumeration value="O"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="consumptionTypeUnique">
					<xs:selector xpath="*"/>
					<xs:field xpath="@type"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceChargeType">
		<xs:annotation>
			<xs:documentation>Начисление по услуге</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MoneyRecalculation" type="base:MoneyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Перерасчеты, корректировки (руб)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MoneyDiscount" type="base:MoneyPositiveType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Льготы, субсидии, скидки (руб)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ServiceCharge" type="tns:ServiceChargeType"/>
	<xs:element name="ServiceInformation">
		<xs:annotation>
			<xs:documentation>Норматив потребления коммунальной услуги</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:ServiceInformationType">
					<xs:sequence>
						<xs:element name="houseOverallNeedsNorm" type="base:VolumeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Норматив потребления коммунальных услуг - общедомовые нужды</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="individualConsumptionNorm" type="base:VolumeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Норматив потребления коммунальных услуг - индивидульное потребление</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PiecemealPayment">
		<xs:annotation>
			<xs:documentation>Рассрочка</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="paymentPeriodPiecemealPaymentSum" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма платы с учётом рассрочки платежа - от платы за расётный период, руб</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="2"/>
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="9999999999.99"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="pastPaymentPeriodPiecemealPaymentSum" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сумма платы с учётом рассрочки платежа - от платы за предыдущие расчётные периоды</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="2"/>
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="9999999999.99"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="piecemealPaymentPercentRub" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Проценты за рассрочку, руб.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="2"/>
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="9999999999.99"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="piecemealPaymentPercent">
					<xs:annotation>
						<xs:documentation>Проценты за рассрочку, %</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="100"/>
							<xs:fractionDigits value="2"/>
							<xs:totalDigits value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="piecemealPaymentSum">
					<xs:annotation>
						<xs:documentation>Сумма к оплате с учётом рассрочки платежа и процентов за рассрочку</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="2"/>
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="9999999999.99"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PaymentRecalculation">
		<xs:annotation>
			<xs:documentation>Перерасчеты</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="recalculationReason">
					<xs:annotation>
						<xs:documentation>Основания перерасчётов</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sum">
					<xs:annotation>
						<xs:documentation>Сумма</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:fractionDigits value="2"/>
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="9999999999.99"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ServiceInformationType">
		<xs:annotation>
			<xs:documentation>Справочная информация платежного документа по коммунальным услугам</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="individualConsumptionCurrentValue" type="base:VolumeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Текущие показания приборов учёта коммунальных услуг - индивидульное потребление</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="houseOverallNeedsCurrentValue" type="base:VolumeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Текущие показания приборов учёта коммунальных услуг - общедомовые нужды</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="houseTotalIndividualConsumption" type="base:VolumeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Суммарный объём коммунальных услуг в доме - индивидульное потребление</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="houseTotalHouseOverallNeeds" type="base:VolumeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Суммарный объём коммунальных услуг в доме - общедомовые нужды</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PDServiceChargeType">
		<xs:annotation>
			<xs:documentation>Потребление и начисление по услуге  в ПД</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="HousingService">
				<xs:annotation>
					<xs:documentation>Жилищная услуга</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:ServicePDType">
							<xs:sequence>
								<xs:element ref="tns:ServiceCharge"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalService">
				<xs:annotation>
					<xs:documentation>Вид дополнительной услуги</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:ServicePDType">
							<xs:sequence>
								<xs:element ref="tns:ServiceCharge"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalServiceExt" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Вид дополнительной услуги, объемы потребления по дополнительным услугам</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:ServiceChargeType">
							<xs:sequence>
								<xs:element name="ServiceType" type="base:nsiRef">
									<xs:annotation>
										<xs:documentation>Код вида дополнительной услуги</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TechService" type="tns:ServicePDType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Дополнительная услуга</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MunicipalService">
				<xs:annotation>
					<xs:documentation>Главная коммунальная услуга с объемом потребления</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:ServicePDType">
							<xs:sequence>
								<xs:element ref="tns:ServiceCharge">
									<xs:annotation>
										<xs:documentation>Перерасчеты и субсидии</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element ref="tns:PiecemealPayment">
									<xs:annotation>
										<xs:documentation>Рассрочка</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PaymentRecalculation" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Перерасчеты</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="recalculationReason" type="xs:string">
												<xs:annotation>
													<xs:documentation>Основания перерасчётов</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="sum">
												<xs:annotation>
													<xs:documentation>Сумма</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:decimal">
														<xs:fractionDigits value="2"/>
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="9999999999.99"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PaymentDocumentType">
		<xs:annotation>
			<xs:documentation>Платежный документ (ПД)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="base:AccountGuid"/>
			<xs:element name="PaymentInformation" type="base:PaymentInformationType">
				<xs:annotation>
					<xs:documentation>Сведения о платежных реквизитах организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressInfo" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Адресные сведения</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LivingPersonsNumber" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Количество проживающих</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:byte">
									<xs:maxInclusive value="99"/>
									<xs:minInclusive value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ResidentialSquare" type="base:PremisesAreaType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Жилая площадь </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="HeatedArea" type="base:PremisesAreaType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Отапливаемая площадь </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TotalSquare" type="base:PremisesAreaType">
							<xs:annotation>
								<xs:documentation>Общая площадь для ЛС</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ChargeInfo" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Начисление по услуге</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:PDServiceChargeType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:element name="Expose" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Выставлен на оплату</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Withdraw" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Отозванный</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="DebtPreviousPeriods" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Задолженность за предыдущие периоды, руб.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="-99999999.99"/>
						<xs:maxInclusive value="99999999.99"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdvanceBllingPeriod" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Аванс на начало расчетного периода, руб.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="-99999999.99"/>
						<xs:maxInclusive value="99999999.99"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="totalPiecemealPaymentSum">
				<xs:annotation>
					<xs:documentation>Сумма к оплате с учетом рассрочки платежа и процентов за рассрочку, руб.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="9999999999.99"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
