src/main/resources/wsdl/hcs-licenses-service-async-8.5.0.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/licenses-service-async/" xmlns:lc="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/licenses/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/licenses-service-async/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/licenses/" schemaLocation="hcs-licenses-types-8.5.0.2.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/" schemaLocation="hcs-basetypes-8.5.0.2.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="exportLicenseRequestType">
		<wsdl:part name="exporttLicenseRequestType" element="lc:exportLicenseRequest"/>
	</wsdl:message>
	<wsdl:message name="exportLicenseResult">
		<wsdl:part name="AckRequest" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:message name="exportDisqualifiedPersonRequestType">
		<wsdl:part name="exportDisqualifiedPersonRequestType" element="lc:exportDisqualifiedPersonRequest"/>
	</wsdl:message>
	<wsdl:message name="exportDisqualifiedPersonResultType">
		<wsdl:part name="AckRequest" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateRequest">
		<wsdl:part name="getStateRequest" element="base:getStateRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateResult">
		<wsdl:part name="getStateResult" element="lc:getStateResult"/>
	</wsdl:message>
	<wsdl:portType name="LicensePortsTypeAsync">
		<wsdl:operation name="exportLicense">
			<wsdl:input message="tns:exportLicenseRequestType"/>
			<wsdl:output message="tns:exportLicenseResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportDisqualifiedPerson">
			<wsdl:input message="tns:exportDisqualifiedPersonRequestType"/>
			<wsdl:output message="tns:exportDisqualifiedPersonResultType"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="getState">
			<wsdl:input message="tns:getStateRequest"/>
			<wsdl:output message="tns:getStateResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LicenseBindingAsync" type="tns:LicensePortsTypeAsync">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="exportLicense">
			<soap:operation soapAction="urn:exportLicense"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportDisqualifiedPerson">
			<soap:operation soapAction="urn:exportDisqualifiedPerson"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getState">
			<soap:operation soapAction="urn:getState"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LicenseServiceAsync">
		<wsdl:documentation>Асинхронный сервис управления экспортом лицензий и дисквалифицированных лиц</wsdl:documentation>
		<wsdl:port name="LicensesPortAsync" binding="tns:LicenseBindingAsync">
			<soap:address location="http://dom.gosuslugi.ru/integration/services/LicenseAsync"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
