src/main/resources/wsdl/hcs-nsi-service-8.5.0.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/nsi-service/" xmlns:nsi="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/nsi/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/nsi-service/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/" schemaLocation="hcs-basetypes-8.5.0.2.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/nsi/" schemaLocation="hcs-nsi-types-8.5.0.2.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="exportNsiListRequest">
		<wsdl:part name="exportNsiListRequest" element="nsi:exportNsiListRequest"/>
	</wsdl:message>
	<wsdl:message name="exportNsiListResult">
		<wsdl:part name="exportNsiListResult" element="nsi:exportNsiListResult"/>
	</wsdl:message>
	<wsdl:message name="exportNsiItemRequest">
		<wsdl:part name="exportNsiItemRequest" element="nsi:exportNsiItemRequest"/>
	</wsdl:message>
	<wsdl:message name="exportNsiItemResult">
		<wsdl:part name="exportNsiItemResult" element="nsi:exportNsiItemResult"/>
	</wsdl:message>
	<wsdl:message name="importAdditionalServicesRequest">
		<wsdl:part name="importAdditionalServicesRequest" element="nsi:importAdditionalServicesRequest"/>
	</wsdl:message>
	<wsdl:message name="importAdditionalServicesResult">
		<wsdl:part name="importAdditionalServicesResult" element="base:ImportResult"/>
	</wsdl:message>
	<wsdl:message name="importMunicipalServicesRequest">
		<wsdl:part name="importMunicipalServicesRequest" element="nsi:importMunicipalServicesRequest"/>
	</wsdl:message>
	<wsdl:message name="importMunicipalServicesResult">
		<wsdl:part name="importMunicipalServicesResult" element="base:ImportResult"/>
	</wsdl:message>
	<wsdl:message name="importOrganizationWorksRequest">
		<wsdl:part name="importOrganizationWorksRequest" element="nsi:importOrganizationWorksRequest"/>
	</wsdl:message>
	<wsdl:message name="importOrganizationWorksResult">
		<wsdl:part name="importOrganizationWorksResult" element="base:ImportResult"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:portType name="NsiPortsType">
		<wsdl:operation name="exportNsiList">
			<wsdl:documentation>ВИ_НСИ_ППС. Получить перечень справочников с указанием даты последнего изменения каждого из них.</wsdl:documentation>
			<wsdl:input message="tns:exportNsiListRequest"/>
			<wsdl:output message="tns:exportNsiListResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportNsiItem">
			<wsdl:documentation>ВИ_НСИ_ПДС. Получить данные справочника.</wsdl:documentation>
			<wsdl:input message="tns:exportNsiItemRequest"/>
			<wsdl:output message="tns:exportNsiItemResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importAdditionalServices">
			<wsdl:documentation>ВИ_НСИ_ИДС_1. Импортировать данные справочника 1 "Дополнительные услуги".</wsdl:documentation>
			<wsdl:input message="tns:importAdditionalServicesRequest"/>
			<wsdl:output message="tns:importAdditionalServicesResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importMunicipalServices">
			<wsdl:documentation>ВИ_НСИ_ИДС_51. Импортировать данные справочника 51 "Коммунальные услуги".</wsdl:documentation>
			<wsdl:input message="tns:importMunicipalServicesRequest"/>
			<wsdl:output message="tns:importMunicipalServicesResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importOrganizationWorks">
			<wsdl:documentation>ВИ_НСИ_ИДС_59. Импортировать данные справочника 59 "Работы и услуги организации".</wsdl:documentation>
			<wsdl:input message="tns:importOrganizationWorksRequest"/>
			<wsdl:output message="tns:importOrganizationWorksResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NsiBinding" type="tns:NsiPortsType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="exportNsiList">
			<wsdl:documentation>ВИ_НСИ_ППС. Получить перечень справочников с указанием даты последнего изменения каждого из них.</wsdl:documentation>
			<soap:operation soapAction="urn:exportNsiList"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportNsiItem">
			<wsdl:documentation>ВИ_НСИ_ПДС. Получить данные справочника.</wsdl:documentation>
			<soap:operation soapAction="urn:exportNsiItem"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importAdditionalServices">
			<wsdl:documentation>ВИ_НСИ_ИДС_1. Импортировать данные справочника 1 "Дополнительные услуги".</wsdl:documentation>
			<soap:operation soapAction="urn:importAdditionalServices"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importMunicipalServices">
			<wsdl:documentation>ВИ_НСИ_ИДС_51. Импортировать данные справочника 51 "Коммунальные услуги".</wsdl:documentation>
			<soap:operation soapAction="urn:importMunicipalServices"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importOrganizationWorks">
			<wsdl:documentation>ВИ_НСИ_ИДС_59. Импортировать данные справочника 59 "Работы и услуги организации".</wsdl:documentation>
			<soap:operation soapAction="urn:importOrganizationWorks"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NsiService">
		<wsdl:documentation>Сервис получения и импорта данных НСИ</wsdl:documentation>
		<wsdl:port name="NsiPort" binding="tns:NsiBinding">
			<soap:address location="http://dom.gosuslugi.ru/schema/integration/8.5.0.2/nsi-service/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
